.dark-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: clamp(50px, 5vw, 60px);
    height: clamp(25px, 2.5vw, 30px);
    margin: clamp(8px, 1vw, 10px);
}

.dark-mode-checkbox {
    display: none;
    /* Hide the checkbox */
}

.dark-mode-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: clamp(10px, 2vw, 15px);
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dark-mode-checkbox:checked+.dark-mode-label {
    background-color: #333;
}

.sun-icon,
.moon-icon {
    font-size: clamp(12px, 2vw, 14px);
    color: #fff;
    padding: 0 clamp(4px, 1vw, 5px);
}

.toggle-ball {
    position: absolute;
    top: clamp(2px, 1vw, 3px);
    left: clamp(2px, 1vw, 3px);
    width: clamp(20px, 3vw, 24px);
    height: clamp(20px, 3vw, 24px);
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.dark-mode-checkbox:checked+.dark-mode-label .toggle-ball {
    transform: translateX(clamp(26px, 4vw, 30px));
}